body{
    margin: 0;
    background-color: none;
    background-image: url("../Image/photo-1603484477859-abe6a73f9366.jpg");
}

.topnav {
    overflow: hidden;
    background-color: chocolate;
  }

#title {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 5px;
}
  
#title:hover{
    background-color: #ddd;
    color: black;
}

.topnav input[type=text] {
    width: 25%;
    float:left;
    padding: 6px;
    border: none;
    margin-top: 25px;
    margin-left: 5%;
    font-size: 17px;
    border-radius: 25px;
}

.topnav button{
      float: left;
      margin-top: 25px;
      margin-right: 16px;
      margin-left: 5px;
      padding: 6px;
      border-radius: 25px;
}

.topnav input[type=text] {
    width: 25%;
    float:left;
    padding: 6px;
    border: none;
    margin-top: 25px;
    margin-left: 5%;
    font-size: 17px;
    border-radius: 25px;
}

.user{
    font-size: 50px;
    float:right;
    margin:15px ;
    color: white;
}

#profil{
    float: right;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.cart{
    float: right;
    font-size: 45px;
    margin-top: 20px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
}

#cart_title {
    font-size: 50px;
    margin-top: 30px;
    margin-left: 75px;
    margin-bottom: 15px;
}

.cart_field {
    display: block;
    border-style: solid;
    border-radius: 20px;
    margin-left: 70px;
    padding-bottom: 10px;
    background-color: white;
}

#checkbox0 {
    float: left;
    margin-left: 50px;
    margin-top: 180px;
    border-radius: 5px;
    border: 2px solid #555;
    width: 15px;
    height: 15px;
    background: white;
}

#book0 {
    /* margin: 25px 25px; */
    margin-top: 25px;
    margin-left: 50px;
    width: 15%;
    /* height: 15%; */
}

.book_field0 {
    display: block;
    border-style: solid;
    margin: 50px;
    margin-bottom: 50px;
    background-color: #d6d6d6;
}

/* #checkbox1 {
    float: left;
    margin-left: 50px;
    margin-top: 210px;
    border-radius: 5px;
    border: 2px solid #555;
    width: 25px;
    height: 25px;
    background: white;
} */

/* #book1 {
    margin: 25px 25px;
    margin-left: 50px;
    width: 15%;
    height: 15%;
} */

/* .book_field1 {
    display: block;
    border-style: solid;
    margin: 50px;
    margin-bottom: 50px;
    background-color: #d6d6d6;
} */

/* #checkbox2 {
    float: left;
    margin-left: 50px;
    margin-top: 210px;
    border-radius: 5px;
    border: 2px solid #555;
    width: 25px;
    height: 25px;
    background: white;
} */

/* #book2 {
    margin: 25px 25px;
    margin-left: 50px;
    width: 15%;
    height: 15%;
} */

/* .book_field2 {
    display: block;
    border-style: solid;
    margin: 50px;
    margin-bottom: 50px;
    background-color: #d6d6d6;
} */
