.judul{
    text-align: center;
    background-color: #996600;
    padding: 20px;
}
.subjudul{
    margin-left: 50px;
}
.background{
    background-color: rgb(217, 189, 134);
    padding-top: 2%;
}
.shopping{
    width: 50%;
}
#beli{
    margin-bottom: 55px;
}
.buku{
    margin-left: 50px;
    padding: 20px;
}
.list{
    background-color: grey;
    padding: 10px;
}
#daleman{
    padding: 10px;
}