@font-face {
    font-family: fonts;
    src: url(../fonts/Candara.ttf);
}
body {
	font-family: fonts;
	background-color: #e2d6d6;
    margin: 0;
    background-color: none;
    /* background-image: url("../Image/photo-1603484477859-abe6a73f9366.jpg"); */
}

.topnav {
    overflow: hidden;
    background-color: #e2d6d6;
  }
  

  #title {
    
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    border: 2px solid chocolate;
    border-radius: 25px;
    margin: 5px;
  }
  

  #title:hover{
    background-color: #ddd;
    color: black;
  }
  .topnav input[type=text] {
    width: 25%;
    float:left;
    padding: 6px;
    border: none;
    margin-top: 25px;
    margin-left: 5%;
    font-size: 17px;
    border-radius: 25px;
  }
  .topnav button{
      float: left;
      margin-top: 25px;
      margin-right: 16px;
      margin-left: 5px;
      padding: 6px;
      border-radius: 25px;
     
}
.user{
    font-size: 50px;
    float:right;
    margin:15px ;
    color: chocolate;
}

#faq{
    float: left;
    font-size: 25px;
    margin-top: 25px;
    text-decoration: none;
    color: chocolate;
    border-style: solid;
    border-radius: 22pt;
    border-color: chocolate;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
}

#profil{
    float: right;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;
    color: chocolate;
}

.cart{
    float: right;
    font-size: 45px;
    margin-top: 20px;
    margin-right: 25px;
    text-decoration: none;
    color: chocolate;
}

.headfaq{
    text-align: center;
}

#isi{
    border-color: lightsalmon;
    background-color: #ffe6cc;
    border-radius: 22pt;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.umum{
    font-size: 24px;
}

.infoumum{
    border: 2px dashed;
    border-color: black;
    border-radius: 22pt;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 5px;
}
#umum1{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#umum1 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#umum2{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#umum2 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#umum3{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#umum3 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#askumum1{
    display: none;
    justify-content: center;
}
#askumum2{
    display: none;
    justify-content: center;
}
#askumum3{
    display: none;
    justify-content: center;
}
#slideu1{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#slideu2{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#slideu3{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
.pembayaran{
    font-size: 24px;
}

.infobayar{
    border: 2px dashed;
    border-color: black;
    border-radius: 22pt;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 5px;
}
#pay1{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#pay1 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#pay2{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#pay2 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#askpay1{
    display: none;
    justify-content: center;
}
#askpay2{
    display: none;
    justify-content: center;
}
#slideb1{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#slideb2{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
.pesanan{
    font-size: 24px;
}

.infopesan{
    border: 2px dashed;
    border-color: black;
    border-radius: 22pt;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 5px;
}
#pesanan1{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#pesanan1 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#askpesan1{
    display: none;
    justify-content: center;
}
#slidep1{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#slidep2{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#pesanan2{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#pesanan2 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#askpesan2{
    display: none;
    justify-content: center;
    
}

.lain{
    font-size: 24px;
}

#lain1{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#lain1 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#asklain1{
    display: none;
    justify-content: center;
    
}
#slidel1{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#slidel2{
background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#lain2{
	border: 2px solid;
	border-radius: 22pt;
	border-color: black;
    background-color: lightsalmon;
}
#lain2 button:hover{
    background-color: chocolate;
    transition: 1s;
    border-radius: 22pt;
}
#asklain2{
    display: none;
    justify-content: center;
    
}

.contact{
    overflow: hidden;
    background-color: chocolate;
    margin-top: 80px;
}
#contactus{
    float: left;
    margin-right: 30px;
    margin-left: 60px;
    color: white;
}
#contacts{
    font-size: 18px;
    color: white;
}