.details_container{
    margin: 5% 15%;
    background-color: white;
    padding: 45px;
    border-radius: 25px;
    display: flex;
    border: 3px dashed grey;
}

.details_container img{
    width: 100%;
    height: 650px;
    border-radius: 25px;
    float: left;
    
}

article {
    width: 300px;
    height: 500px;
    margin-top: 15px;
}

.cart_field {
    background-color: #d6d2d2;
    margin-top: 60%;
    width: 15%;
    border-radius: 10px;
    padding-bottom: 2%;
}

#faq{
    float: left;
    font-size: 25px;
    margin-top: 25px;
    text-decoration: none;
    color: chocolate;
    border-style: solid;
    border-radius: 22pt;
    border-color: chocolate;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
}